<body class ="image responsive home-bg">
  <h2 class="homepage-h1">New from TAC</h2>
  <h2 class="homepage-main">Workout Lounge</h2>
  <p class="homepage-p">Show them what you've got.</p>
  
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <div class="center home">
        <p class="homepage-p">Join Our Other Members<p>
          <div class="row">
            <div class="col s8 offset-s2 center">
              <div class="center">
                <%= form_tag(search_dashboard_path, role: "search") do %>
                  <div class="input-field">
                    <%= text_field_tag :search_name, nil, placeholder: "Search members" %>
                  </div>
                    <i class="small material-icons"><%= submit_tag "search" %></i>
                <% end %>
              </div> 
            </div>
 
       <div class="row">
         <div class="col s12">
            <!--<ul class="pagination"><li class="waves-effect">-->
              <!--< will_paginate @athletes %></li></ul>-->
            <div class="col s8 offset-s2 left">
            <% @athletes.each do |athlete| %>
              <div>
                <%= athlete.full_name %>
                
                <!--Add the 'following users' functionality-->
                <% if current_user %>
                  <%= link_to "add", friendships_path(friend_id: athlete.id),
                  method: :post,
                  class: 'material-icons' unless current_user.follows_or_same?(athlete) %>
                <% end %>
                
              </div>
            <% end %>
            </div>
          </div>
        </div>
        
     </div>
    </div>
  </div>
</body>