<!DOCTYPE html>
<html>
<head>
  <title>Workout App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<header></header>

<main>
  <body>
    <header role="banner">
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <%= yield %>
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%="#{name}" %>'>
          <a href='#' class='close' data-dismiss='alert' &#215;></a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>
  </body>
</main>
<%= render 'layouts/footer' %>
</div>
</html>