<!DOCTYPE html>
<html>
<head>
  <title>The Athletes Crib</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header></header>

<main>
  <body>
    <%= render 'layouts/header' %>
    <div class="container center">
      <%= yield %>
    <%= render 'layouts/notices' %>
  </body>
</main>
<%= render 'layouts/footer' %>
    </div>
</html>